{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="bundles\css\index.css">
{% endblock %}

{% block body %}
<div class="home">
<h1>Connexion</h1 >
 {# Mise en place du formulaire de connexion à l'administration // Setting up the administration login form #}
<form action="{{ path('security_login') }}" method="post">
<div class="form-group">
<label>Email</label>
<input class="form-control" placeholder="Email" type="text" required name="_username">
</div>

<div class="form-group">
<label>Password</label>
<input class="form-control" placeholder="Password" type="password" required name="_password">
</div>

<div class="form-group">
<button type="submit" name="ajouter" class="btn btn-warning">Connexion</button>
</div>
</form>
</div>
{% endblock  %}