{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="bundles\css\index.css">
{% endblock %}
{% block title %}ECFAPI INDEX{% endblock %}

{% block body %}
<div class="home">
<h1>Page Home de ECFAPI</h1>
<a href="{{ path('security_registration') }}" class="Inscription" > <button class="btn btn-danger">Inscription</button></a>
<a href="{{ path('security_login') }}" > <button class="btn btn-success">Connexion</button></a>
</div>
{% endblock %}
